<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Monthly Journal</title>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Journal for <%= year %></h1>
    <div class="month">
        <span class="month_label">January : </span>
      <% for (let day = 1; day <= 31; day++) { %>
        <div class="day" onclick="location.href='/journal/<%= year %>-<%= 1 %>-<%= day %>'"><%= day %></div>
      <% } %>
    </div>
    <div class="month">
        <span class="month_label">February : </span>
      <% for (let day = 1; day <= 29; day++) { %>
        <div class="day" onclick="location.href='/journal/<%= year %>-<%= 2 %>-<%= day %>'"><%= day %></div>
      <% } %>
    </div>
    <div class="month">
        <span class="month_label">March : </span>
      <% for (let day = 1; day <= 31; day++) { %>
        <div class="day" onclick="location.href='/journal/<%= year %>-<%= 2 %>-<%= day %>'"><%= day %></div>
      <% } %>
    </div>
    <div class="month">
        <span class="month_label">April : </span>
      <% for (let day = 1; day <= 30; day++) { %>
        <div class="day" onclick="location.href='/journal/<%= year %>-<%= 2 %>-<%= day %>'"><%= day %></div>
      <% } %>
    </div>
    <div class="month">
        <span class="month_label">May : </span>
      <% for (let day = 1; day <= 31; day++) { %>
        <div class="day" onclick="location.href='/journal/<%= year %>-<%= 2 %>-<%= day %>'"><%= day %></div>
      <% } %>
    </div>
    <div class="month">
        <span class="month_label">June : </span>
      <% for (let day = 1; day <= 30; day++) { %>
        <div class="day" onclick="location.href='/journal/<%= year %>-<%= 2 %>-<%= day %>'"><%= day %></div>
      <% } %>
    </div>
    <div class="month">
        <span class="month_label">July : </span>
      <% for (let day = 1; day <= 31; day++) { %>
        <div class="day" onclick="location.href='/journal/<%= year %>-<%= 2 %>-<%= day %>'"><%= day %></div>
      <% } %>
    </div>
    <div class="month">
        <span class="month_label">August : </span>
      <% for (let day = 1; day <= 31; day++) { %>
        <div class="day" onclick="location.href='/journal/<%= year %>-<%= 2 %>-<%= day %>'"><%= day %></div>
      <% } %>
    </div>
    <div class="month">
        <span class="month_label">September : </span>
      <% for (let day = 1; day <= 30; day++) { %>
        <div class="day" onclick="location.href='/journal/<%= year %>-<%= 2 %>-<%= day %>'"><%= day %></div>
      <% } %>
    </div>
    <div class="month">
        <span class="month_label">October : </span>
      <% for (let day = 1; day <= 31; day++) { %>
        <div class="day" onclick="location.href='/journal/<%= year %>-<%= 2 %>-<%= day %>'"><%= day %></div>
      <% } %>
    </div>
    <div class="month">
        <span class="month_label">November : </span>
      <% for (let day = 1; day <= 30; day++) { %>
        <div class="day" onclick="location.href='/journal/<%= year %>-<%= 2 %>-<%= day %>'"><%= day %></div>
      <% } %>
    </div>
    <div class="month">
        <span class="month_label">December : </span>
      <% for (let day = 1; day <= 31; day++) { %>
        <div class="day" onclick="location.href='/journal/<%= year %>-<%= 2 %>-<%= day %>'"><%= day %></div>
      <% } %>
    </div>


</body>
</html>
